<div class="container-fluid ">
    <div class="row bg-dark">
        <div class="col-12">

            <div class="container d-flex">
                <div class="">
                    <h6 class="text-light mb-3 mt-2">SUPORTE</h6>
                    <p class="text-light mb-2 ">Reclamações</p>
                    <p class="text-light ">Sugestões</p>

                    <a href="https://www.instagram.com/pasteldeliverysidro/">
                        <img class="me-2" src="https://i.imgur.com/zaqxPDr.png" width="45" height="45" alt="insta">
                    </a>
                    <a href="https://www.facebook.com/bu.burguerlandia">
                        <img class="me-3" src="https://i.imgur.com/YkZQK1a.png" width="45" height="45" alt="face">
                    </a>
                </div>
                <div class="">
                    <h6 class="text-light mb-3 mt-2">CONTATO & ENDEREÇO</h6>
                    <p class="text-light mb-2">Thomas da Silva França</p>
                    <p class="text-light mb-2"> Nº800 - São Bento</p>
                    <p class="text-light mb-2">Sidrolândia - MS</p>
                    <p class="text-light mb-3">(67) 98836-0281</p>
                </div>

               
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row colorYellow">
        <div class="col-12">

            <div class="d-flex justify-content-center py-2">
                <h6 class="m-0">© 2021 Pastel Delivery Sidro</h6>
            </div>

        </div>
    </div>
</div>