<nav class="navbar navbar-expand-lg navbar-light sticky-top colorYellow p-0">
    <div class="container-fluid">

        <a class="navbar-brand py-1 ps-1" href="#"><img src="https://i.imgur.com/u1lTJTf.jpg" width="75" height="75"
                alt=""></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pb-2" id="navbarNav">
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link active pt-0" aria-current="page" href="#">DELIVERY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CARDÁPIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTATOS</a>
                </li>
                <li class="nav-item">
                    <a target="_blank" href="https://www.facebook.com/bu.burguerlandia">
                        <img class="pe-2" src="https://i.imgur.com/zvxpSiZ.png" alt="face"></a>
                    <a target="_blank" href="https://www.instagram.com/pasteldeliverysidro/">
                        <img src="https://i.imgur.com/iq5YBsS.png" alt="insta"></a>
                </li>
            </ul>
        </div>

    </div>
</nav>